{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0eea2486c7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app_view.css' %}">
  </head>
  <body>
    <div class="container my-4">
      <div class="row justify-content-center">
        <div class="contianer" id="body_content">
          <div class="row my-2">
            <nav class="navbar navbar-expand-lg navbar-heavy bg-dark col-sm-6 col-md-8 col-lg-9">
                <a class="navbar-brand" data-toggle="tooltip" title="Go to home page!" href="{% url 'home' %}">SortStack</a>
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'search:query' %}">Search</a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'search:set' %}">Articles</a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link" href="{% url 'search:folders' %}">Folders</a>
                                </li>
                            </ul>
                    </div>
                    {% endif %}
                </div>
            </nav>
            <div class="d-inline-flex p-2 col-sm-6 col-md-4 col-lg-3">
                {% if user.is_authenticated %}
                    <p class="pt-3">Logged in as <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}">Log out</a>.</p>
                {% else %}
                    <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Sign up</a>  
                    <a href="{% url 'login' %}" class="btn btn-light" role="button">Log in</a>
                {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="card mb-3 col" id="main_content">
                <div class="card-body">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    </script>
  </body>
</html>
